.vs
SeleniumProject/packages/
SeleniumProject/SeleniumProject/bin/
SeleniumProject/SeleniumProject/obj/
SeleniumProjectNetCore/SeleniumProjectNetCore/bin/
SeleniumProjectNetCore/SeleniumProjectNetCore/obj/
