<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="user" />
    <add key="Password" value="123" />
    <add key="ProjectName" value="p1" />
    <add key="GroupTestData" value="gp1" />
    <add key="ConfigName" value="cp1" />
  </appSettings>
</configuration>